:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Primary */
  --color-primary: #CF6C33;
  --color-primary-contrast: #FFFFFF;
  --color-primary-focus: #BE642F;
  /* Secondary */
  --color-secondary: #F8F3ED;
  --color-secondary-contrast: #CF6C33;
  --color-secondary-focus: #EDE8E2;
  /* Text */
  --color-text-primary: #212529;
  --color-text-secondary: #868E96;
  --color-text-disabled: #ADB5BD;
  /* Background */
  --color-bg-default: #F1F3F5;
  --color-bg-paper: #FFFFFF;
  /* Divider */
  --color-divider: #CED4DA;
  /* Error */
  --color-error: #FA5252;
  --color-error-text: #C92A2A;
  /* Warning */
  --color-warning: #FD7E14;
  --color-warning-text: #E8590C;
  --color-warning-bg: #FFF4E6;
  /* Info */
  --color-info: #2660F5;
  --color-info-bg: #F4F7FF;
  /* Success */
  --color-success: #34C759;
}

strong {
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input, select, textarea {
  font-family: inherit;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.45rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  cursor: pointer;
  transition: border-color 0.15s, background-color 0.15s, color 0.15s;
}

.primary-btn {
  margin-top: 24px;
}

.primary-btn.success {
  background-color: var(--color-success);
}

button:not(:disabled):not(.outline-btn):not(.text-button):not(.table-sort):not(.rule-delete-btn):not(.nav-btn):hover {
  background-color: var(--color-primary-focus);
}

button:disabled {
  background-color: var(--color-divider);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

.primary-btn.success:disabled {
  color: var(--color-primary-contrast);
}

button:focus,
button:focus-visible {
  outline: 2px solid var(--color-info);
  outline-offset: 1px;
}
